@media screen and (max-width: 800px) and (orientation: portrait) {
    #flex > img {
        width: 100%;
    }

    #grid {
        grid-template-columns: 1fr;
    }

    :root {
        font-size: 30px;
    }
}